<div class="game-content">
    <div class="header">
        <h2>Create Empire</h2>
    </div>
    <div class="title"></div>
    <div id="error-message" class="green">
        Empire created successfully.
    </div>
    <div class="title"></div>
</div>