/* General CSS selectors */
/* Primary color - 0B04BE */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #090397;
  color: white;
  font-family: 'postamtregular';
  font-size: 18px;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
}
.highlight1 {
  color: #FF9D13;
}
.highlight2 {
  color: #FFEC13;
}
.test {
  color: #3831FB;
}
@font-face {
  font-family: 'postamtregular';
  src: url('postamt-webfont.woff2') format('woff2'), url('postamt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.details-content {
  margin: 0 auto;
  border-radius: 10px;
  min-height: 200px;
  width: 800px;
  min-width: 800px;
}
/* Account Tab CSS */
#account-tab {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  background-color: #3831FB;
  padding: 5px;
}
#account-details {
  display: none;
}
.account {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 18px;
}
a.account:hover {
  color: #FFEC13;
}
#logoff {
  border: 0;
  background: transparent;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'postamtregular';
}
#logoff:hover {
  color: #FFEC13;
}
/* Layout */
.content-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.details-content {
  margin: 0 auto;
  border-radius: 10px;
  min-height: 200px;
  width: 800px;
  min-width: 800px;
}
.game-content {
  border: 5px ridge #c1c1c1;
}
/* Index View */
span[data-spec] {
  position: relative;
  cursor: help;
}
span[data-spec]:hover::after,
span[data-spec]:focus::after {
  content: attr(data-spec);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 300px;
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  background-color: #FFFFD5;
  padding: 10px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 4px 1px;
  text-shadow: none;
  text-align: left;
}
.nav-bar {
  background-color: #3830EB;
  background: linear-gradient(#3831FB, #0B04BE, #070373);
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  margin: 0;
  border-left: 5px ridge #c1c1c1;
  border-right: 5px ridge #c1c1c1;
  margin-right: -2px;
  text-shadow: 5px 5px 10px black;
}
.nav-bar a {
  color: white;
  text-decoration: none;
}
.content {
  position: relative;
  display: none;
  width: 800px;
}
#game-container {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 63px;
}
#star-date {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: 5px ridge #c1c1c1;
  margin-right: -3px;
}
/* Forms */
#create-container {
  text-align: center;
  width: 610px;
}
#create-form {
  width: 600px;
  background: #555;
  border: 5px ridge white;
  text-align: center;
}
.form-field {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
.create-label {
  width: 200px;
  color: white;
  text-align: left;
}
.create-field {
  width: 300px;
  color: white;
  background-color: #070373;
  font-family: 'postamtregular';
  font-size: 18px;
}
/* Player Header */
#player-details {
  position: fixed;
  top: 0;
  z-index: 1;
}
#header-table {
  width: 800px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  border-collapse: collapse;
}
#header-table th,
#header-table td {
  border: 1px solid white;
}
#header-title-bar {
  background-color: #3831FB;
  text-align: center;
}
#header-body {
  text-align: right;
}
/* Glyphicons */
@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: 100;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
/* Tables */
.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}
/* Empires */
.empire-text {
  margin-top: 10px;
  margin-left: 10px;
}
#empire-list {
  position: relative;
}
#empire-list-table {
  margin: 50px 0 10px 0;
}
#create-empire-form {
  width: 800px;
  padding: 5px;
  color: white;
}
.create-button {
  font-family: 'postamtregular';
  font-size: 18px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
}
#create-empire {
  display: block;
  margin: 0 auto;
}
#submit-empire {
  display: block;
  margin: 0 auto;
}
#epanel1 {
  display: block;
}
#epanel2 {
  display: none;
}
/* Content */
.button {
  border: 0;
  border-radius: 5px;
  padding: 3px;
  color: white;
  background: #FF9D13;
  font-family: 'postamtregular';
}
.title {
  border-bottom: 5px ridge #c1c1c1;
}
.header {
  background: #dddddd;
  background: radial-gradient(circle, #dddddd 0%, #888888 50%, #333333 100%);
}
h2 {
  font-family: 'postamtregular';
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 10px;
  text-shadow: 5px 5px 10px #000000;
}
td,
th {
  border: 1px solid white;
  padding: 3px;
}
#error-message {
  width: 86%;
  text-align: center;
  border: 5px ridge;
  border-radius: 10px;
  margin-left: 5%;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-shadow: 5px 5px 10px #000000;
}
.red {
  background-color: #FF9500;
  color: white;
}
.green {
  background-color: #00FF95;
  color: white;
}
.menu-bar {
  list-style: none;
  font-size: 20px;
  background: #dddddd;
  background: linear-gradient(#A59800, #D8C700, #D8C700, #A59800);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'postamtregular';
}
.menu-bar li {
  display: inline-block;
  padding-right: 10px;
  padding: 10px;
  background-color: #3831FB;
  margin: 0;
}
.menu-bar a {
  color: white;
  text-decoration: none;
}
.menu-bar a:hover {
  color: #FFEC13;
}
