@model DragonsClaw.Models.PlayerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GameLayout.cshtml";
}
@Html.Partial("_PlayerHeader", Model)
<div id="game-container">
    <div id="star-date">Star Date 23000</div>
    <div id="bot">
        <div id="bot-menu" class="nav-bar">
            <span data-spec="The Bot pane allows you to interact with the bot." tabindex="0">Bot</span>
            <span style="float: right;">
                <a href="#!" onclick="botHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="botShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="bot-content" class="content">
        </div>
    </div>
    <div id="high-council">
        <div id="high-council-menu" class="nav-bar">
            <span data-spec="The High Council pane contains useful information about your sector." tabindex="0">High Council</span>
            <span style="float: right;">
                <a href="#!" onclick="highCouncilHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="highCouncilShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="high-council-content" class="content">
        </div>
    </div>
    <div id="empire">
        <div id="empire-menu" class="nav-bar">
            <span data-spec="The Empire pane contains information about your empire.">Empire</span>
            <span style="float: right;">
                <a href="#!" onclick="empireHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="empireShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="empire-content" class="content">
        </div>
    </div>
    <div id="news">
        <div id="news-menu" class="nav-bar">
            <span data-spec="The News pane contains information about events in your sector.">News</span>
            <span style="float: right;">
                <a href="#!" onclick="newsHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="newsShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="news-content" class="content">
        </div>
    </div>
    <div id="empire-news">
        <div id="empire-news-menu" class="nav-bar">
            <span data-spec="The Empire News pane contains information about events in your empire.">Empire News</span>
            <span style="float: right;">
                <a href="#!" onclick="empirenewsHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="empirenewsShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="empire-news-content" class="content">
        </div>
    </div>
    <div id="exploration">
        <div id="exploration-menu" class="nav-bar">
            <span data-spec="The Exploration pane allows you to expand the borders of your sector by exploring for new systems.">Exploration</span>
            <span style="float: right;">
                <a href="#!" onclick="explorationHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="explorationShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="exploration-content" class="content">
        </div>
    </div>
    <div id="expansion">
        <div id="expansion-menu" class="nav-bar">
            <span data-spec="The Expansion pane grows your sector by devoting planets to different specialties.">Expansion</span>
            <span style="float: right;">
                <a href="#!" onclick="expansionHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="expansionShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="expansion-content" class="content">
        </div>
    </div>
    <div id="technology">
        <div id="technology-menu" class="nav-bar">
            <span data-spec="The Technology pane allows you to research technology that can improve the effectiveness of different areas.">Technology</span>
            <span style="float: right;">
                <a href="#!" onclick="technologyHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="technologyShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="technology-content" class="content">
        </div>
    </div>
    <div id="military">
        <div id="military-menu" class="nav-bar">
            <span data-spec="The Military pane allows you to train your military for conquest and defense.">Military</span>
            <span style="float: right;">
                <a href="#!" onclick="militaryHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="militaryShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="military-content" class="content">
        </div>
    </div>
    <div id="telepaths">
        <div id="telepaths-menu" class="nav-bar">
            <span data-spec="The Telepath is used to launch psychic attacks against enemy sectors.">Telepaths</span>
            <span style="float: right;">
                <a href="#!" onclick="telepathsHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="telepathsShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="telepaths-content" class="content">
        </div>
    </div>
    <div id="psionics">
        <div id="psionics-menu" class="nav-bar">
            <span data-spec="The Psionics pane allows you to use psionic abilities on your sector.">Psionics</span>
            <span style="float: right;">
                <a href="#!" onclick="psionicsHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="psionicsShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="psionics-content" class="content">
        </div>
    </div>
    <div id="war-advisors">
        <div id="war-advisor-menu" class="nav-bar">
            <span data-spec="The War Advisors pane aids in your conquest of the galaxy.">War Advisors</span>
            <span style="float: right;">
                <a href="#!" onclick="warAdvisorHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="warAdvisorShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="war-advisor-content" class="content">
        </div>
    </div>
    <div id="espionage">
        <div id="espionage-menu" class="nav-bar">
            <span data-spec="The Espionage pane is where you gather intelligence on other sectors.">Espionage</span>
            <span style="float: right;">
                <a href="#!" onclick="espionageHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="espionageShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="espionage-content" class="content">
        </div>
    </div>
    <div id="raider">
        <div id="raider-menu" class="nav-bar">
            <span data-spec="The Raiding pane allows you to take through subtly what you can't through force.">Raiding</span>
            <span style="float: right;">
                <a href="#!" onclick="raiderHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="raiderShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="raider-content" class="content">
        </div>
    </div>
    <div id="array">
        <div id="array-menu" class="nav-bar">
            <span data-spec="The Arrays pane allows for the construction of arrays benificial to your empire.">Arrays</span>
            <span style="float: right;">
                <a href="#!" onclick="arrayHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="arrayShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="array-content" class="content">
        </div>
    </div>
    <div id="platform">
        <div id="platform-menu" class="nav-bar">
            <span data-spec="The Platforms pane allows for the construction of platforms to hinder your opponents.">Platforms</span>
            <span style="float: right;">
                <a href="#!" onclick="platformHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="platformShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="platform-content" class="content">
        </div>
    </div>
    <div id="aid">
        <div id="aid-menu" class="nav-bar">
            <span data-spec="The Assistance pane allows you to assist other sectors in your empire.">Assistance</span>
            <span style="float: right;">
                <a href="#!" onclick="aidHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="aidShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="aid-content" class="content">
        </div>
    </div>
    <div id="market">
        <div id="market-menu" class="nav-bar">
            <span data-spec="The Marketplace pane allows you to buy and sell resources on the galatic market.">Marketplace</span>
            <span style="float: right;">
                <a href="#!" onclick="marketHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="marketShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="market-content" class="content">
        </div>
    </div>
    <div id="quests">
        <div id="quests-menu" class="nav-bar">
            <span>Quests</span>
            <span style="float: right;">
                <a href="#!" onclick="questsHide();" class="nav-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
                <a href="#!" onclick="questsShow();" class="nav-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
            </span>
        </div>
        <div id="quests-content" class="content">
        </div>
    </div>
</div>